target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea
*.iml
# Do not add:
run-*.sh
app.conf
.extract
overlays
p12-internal
import-intern.sh
deploy-*.sh
rsu-b2b-sample-client-gui-tomcat-dist.zip